 <div class="st-search-bar hidden-mobile" style="">
                    <input type="text" name="q" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
                    <span class="input-close-btn" style="display: block;"></span> 
</div>
