  <div class="st-search-bar hidden-desktop">
            <input type="text" name="q" placeholder="Search..." value="" autocapitalize="off" autocomplete="off" autocorrect="off">
            <span class="input-close-btn"></span>
        </div>
<style>
  .st-search-bar.hidden-desktop {
	display: none;
  }

</style>